@model Sklepix.Models.ShelfEntity

@{
    ViewData["Title"] = "Szczegóły półki";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string? aisleName = Model.Aisle != null ? Model.Aisle.Name : String.Empty;
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aisle.Name) alejki
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => aisleName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edytuj</a> |
    <a asp-action="Index">Wróć</a>
</div>
