@using Sklepix.Models.Users;
@model UserDetailsViewModel

@{
	ViewData["Title"] = "Szczegóły pracownika";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
	<a class="btn btn-outline-secondary" asp-action="Index"><img class="icon" src="~/icons/arrow-left.svg" /></a>
	@ViewData["Title"] <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edytuj</a>
</h1>

<hr />
<div>
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Id)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Id)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.UserName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.UserName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.LastName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.LastName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FirstName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.FirstName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Email)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Email)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.PhoneNumber)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.PhoneNumber)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Roles)
		</dt>
		<dd class="col-sm-10">
			@foreach(string role in Model.Roles)
			{
				@Html.DisplayFor(roleName => role)
				<br />
			}
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.CreationTime)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.CreationTime)
		</dd>
	</dl>
</div>
