@using Sklepix.Data.Entities
@model ProductCreateViewModel

@{
    ViewData["Title"] = "Dodaj produkt";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<CategoryEntity> categories = Model.Categories != null ? Model.Categories : new List<CategoryEntity>();
    List<ShelfEntity> shelves = Model.Shelves != null ? Model.Shelves : new List<ShelfEntity>();
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" autofocus />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control">
                    @foreach(CategoryEntity category in categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ShelfId" class="control-label"></label>
                <select asp-for="ShelfId" class="form-control">
                    @foreach (ShelfEntity shelf in shelves)
                    {
                        <option value="@shelf.Id">@shelf.Number | @shelf.Aisle.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć</a>
</div>