@model ProductDetailsViewModel

@{
	ViewData["Title"] = "Szczegóły produktu";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
	<a asp-action="Index"><img class="icon" src="~/icons/arrow-left.svg" /></a>
	@ViewData["Title"] <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edytuj</a>
</h1>

<hr />
<div>
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Id)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Id)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Count)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Count)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Price)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Price) zł
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.TotalPrice)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.TotalPrice) zł
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Category)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Category)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ShelfAndAisle)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ShelfAndAisle)
		</dd>
	</dl>
</div>
