@using Sklepix.Data.Entities
@model ProductCreateViewModel

@{
	ViewData["Title"] = "Edytuj produkt";
	Layout = "~/Views/Shared/_Layout.cshtml";
	List<CategoryEntity> categories = Model.Categories;
	List<ShelfEntity> shelves = Model.Shelves;
}

<h1>
	<a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@Model.Id"><img class="icon" src="~/icons/arrow-left.svg" /></a>
	@ViewData["Title"]
</h1>

<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" autofocus />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Count" class="control-label"></label>
				<input asp-for="Count" class="form-control" />
				<span asp-validation-for="Count" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Price" class="control-label"></label>
				<input asp-for="Price" class="form-control" />
				<span asp-validation-for="Price" class="text-danger"></span>
			</div>
			<hr />
			<div class="form-group">
				<label asp-for="CategoryId" class="control-label"></label>
				<select asp-for="CategoryId" class="form-select">
					@if(categories.Count == 0)
					{
						<option>Nie znaleziono żadnych półek</option>
					}
					@foreach(CategoryEntity category in categories)
					{
						<option value="@category.Id">@category.Name</option>
					}
				</select>
			</div>
			<div class="form-group">
				<label asp-for="ShelfId" class="control-label"></label>
				<select asp-for="ShelfId" class="form-select">
					@if(shelves.Count == 0)
					{
						<option>Nie znaleziono żadnych półek</option>
					}
					@foreach(ShelfEntity shelf in shelves)
					{
						<option value="@shelf.Id">@shelf.Number | @shelf.Aisle.Name</option>
					}
				</select>
			</div>
			<br />
			<div class="form-group">
				<input type="submit" value="Zapisz" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>
